<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.dutchaug.workshop.beginners.listviews">

    <!-- The android:allowBackup="true" attribute indicates whether to allow the application to participate in the backup
         and restore infrastructure. If this attribute is set to false, no backup or restore of the application will ever
         be performed, even by a full-system backup that would otherwise cause all application data to be saved via adb.
         The default value of this attribute is true.-->

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light">

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">

            <!-- The intent-filter with action "android.intent.action.MAIN" and category "android.intent.category.LAUNCHER"
                 will be registered during app installation as the activity to start when the user clicks on the app icon
                 in the app launcher also known as the Home application -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".ListViewInLayoutActivity"/>

        <activity android:name=".ListViewActivity"/>

    </application>

</manifest>
